main {
    padding: 12px;
    margin: 8px 0 0 0;
}

hr {
    border: 2px solid whitesmoke;
}

/**Contact Styles**/
.abc {
    font-family: 'Tenor Sans', sans-serif;
    color: whitesmoke;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
    padding: 0;
    margin: 0 0 16px 0;
}

.contact-me {
    padding: 0;
    margin: 20px;
}

.contact-me form {
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 20px 0;
}

textarea {
    resize: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}


.contact-me form {
    text-align: center;
}

input {
    height: 32px;
    width: 16%;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.contact-me button {
    background: none;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

/**Socials Styles**/
.social {
    padding: 0;
    margin: 30px;
}

.social-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 8px;
}

.social-items a {
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.social-items img {
    margin: 0 3px 0 0;
}

.social-items {
    margin: 6px;
}

.numb {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: center;
}

/**While Hovering**/

.social-items a:hover {
    transform: scale(1.003);
    text-shadow: 3px 2px 6px #FB2576;
}

.contact-me button:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
    color: black;
}