.header1 {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 80px;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 32px 0;
}

.img img {
    clip-path: circle(50%);
}

.content {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 78px;
    font-style: italic;
}

hr {
    width: 80%;
    border: 2px solid whitesmoke;
}

.header2 {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 42px;
    font-style: italic;
    text-align: center;
}

.purpose {
    margin: 32px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.purpose img {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    margin: 12px;
}

.purpose p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}