/**First Section**/
.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 30px 0;
}

.pic img {
    clip-path: circle(50%);
}

.content {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 60px;
    font-style: italic;
    text-align: center;
}

/**Second Section**/

.qwert {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 30px 0;
}

.kon {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    font-style: italic;
    text-align: center;
    margin: 8px 0;
    padding: 0;
}

.dabi {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.gon {
    height: auto;
    width: 280px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 8px;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s ease-in-out;
}

.gon img {
    margin: 0 6px;
}

/**While Hovering**/
.gon:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 6px #FB2576;
}

/**Third Section**/
.lil-peek {
    display: flex;
    justify-content: center;
}

.lil-peek img {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin: 0 18px;
}

.namo {
    margin: 18px;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

button {
    border: 2px solid whitesmoke;
    background: none;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.namo a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 8px;
    transition: 0.2s ease-in-out;
}


/**While Hovering**/
.lil-peek img:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 6px #FB2576;
}

.namo button:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
}

.namo a:hover {
    color: black;
}