main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.main h1 {
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 9px;
    color: whitesmoke;
    margin-bottom: 20px;
}

.gallery {
    border: 2px solid whitesmoke;
    border-radius: 23px;
    padding: 0;
    margin: 0;
    transition: 0.2s ease-in-out;
}

.gallery img {
    border-radius: 22px;
}

.gallery a {
    object-fit: cover;

}

/**While Hovering**/
.gallery:hover {
    transform: scale(1.01);
    box-shadow: 6px 6px 20px #FB2576;
}

/**Grid View For Image Gllery**/
.img-gallery {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 380px 380px 380px;
    row-gap: 30px;
    column-gap: 30px;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item-8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item-9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}