/**Global Styles**/
.main {
    margin: 20px;
    font-size: 20px;
}

.rom {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 9px;
    margin: 20px 0;
    text-align: center;
}

hr {
    border: 2px solid whitesmoke;
    margin-top: 20px;
}

/**First Section**/
.exp p {
    line-height: 2;
}

.exp p::first-letter {
    font-size: 30px;
}

/**Second Section**/
.prg-pic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kurama {
    border: 2px solid whitesmoke;
    border-radius: 23px;
    transition: 0.2s ease-in-out;
}

.kurama img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.glhf {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 330px 330px 330px 330px;
    column-gap: 30px;
    row-gap: 30px;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item-8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item-9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.item-11 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}


.kurama:hover {
    box-shadow: 3px 3px 6px #FB2576;
    transform: scale(1.01);
}

/**Third Section**/
.valid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.darling {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 330px 330px 330px 330px;
    column-gap: 30px;
    row-gap: 30px;
}

.chi-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.chi-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.chi-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.chi-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.chi-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.chi-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.chi-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.chi-8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.chi-9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.chi-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.chi-11 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.hinata {
    border: 2px solid whitesmoke;
    border-radius: 23px;
    transition: 0.2s ease-in-out;
}

.hinata img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.hinata:hover {
    box-shadow: 3px 3px 6px #FB2576;
    transform: scale(1.01);
}